<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.root.app.accounts.AccountDAO">
	
	<insert id="add" parameterType="List">
		INSERT ALL
			<foreach collection="list" item="accountDTO" open="" separator=" " close="">
				INTO ACCOUNTS (ACCOUNTNUM, USERNAME, PRODUCTNUM) VALUES (#{accountDTO.accountNum}, #{accountDTO.userName}, #{accountDTO.productNum})
			</foreach>
		SELECT * FROM DUAL
	</insert>

</mapper>