<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.root.app.boards.notice.NoticeDAO">
	<select id="getList" resultType="NoticeDTO" parameterType="pager">
		SELECT * FROM (
			SELECT ROWNUM R, M.* FROM (
					SELECT * FROM NOTICE
					ORDER BY BOARDNUM DESC
					) M
			)
		WHERE R BETWEEN #{startNum} AND #{endNum}
	</select>
	<select id="getDetail" resultType="NoticeDTO" parameterType="NoticeDTO">
		SELECT * FROM NOTICE WHERE BOARDNUM = #{boardNum}
	</select>
	<insert id="add" parameterType="NoticeDTO">
		INSERT INTO NOTICE (BOARDNUM, USERNAME, BOARDTITLE, BOARDCONTENTS)
		VALUES (BOARD_SEQ.NEXTVAL, #{userName}, #{boardTitle}, #{boardContents})
	</insert>
	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE SET BOARDTITLE = #{boardTitle}, BOARDCONTENTS = #{boardContents} WHERE BOARDNUM = #{boardNum}
	</update>
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE BOARDNUM = #{boardNum}
	</delete>
	<update id="updateHit">
		UPDATE NOTICE SET BOARDHIT = BOARDHIT+1 WHERE BOARDNUM = #{boardNum}
	</update>
	<select id="getTotalCount" resultType="Long">
		SELECT COUNT(BOARDNUM) FROM NOTICE
	</select>

</mapper>